BasedOnStyle: Google
ColumnLimit: 80
IndentWidth: 2
UseTab: Never
BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BinPackArguments: true
BinPackParameters: true
SpaceBeforeParens: ControlStatements